In [1]:
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
from sklearn.impute import SimpleImputer

In [2]:
df = pd.read_csv('/Users/edaaoneerr/Documents/covid_19_data.csv')

In [4]:
df.drop(['SNo','Last Update'],axis=1,inplace=True)
df.rename(columns={'ObservationDate':'Tarih','Province/State':'Şehir','Country/Region':'Ülke', 'Confirmed': 'Onaylanan','Deaths':'Ölüm', 'Recovered': 'İyileşen'},inplace=True)

In [5]:
df['Tarih'] = pd.to_datetime(df['Tarih'])

,Tarih,Şehir,Ülke,Onaylanan,Ölüm,İyileşen
0,01/22/2020,Anhui,Mainland China,1.0,0.0,0.0
1,01/22/2020,Beijing,Mainland China,14.0,0.0,0.0
2,01/22/2020,Chongqing,Mainland China,6.0,0.0,0.0
3,01/22/2020,Fujian,Mainland China,1.0,0.0,0.0
4,01/22/2020,Gansu,Mainland China,0.0,0.0,0.0
...,...,...,...,...,...,...
4242,03/08/2020,Northern Territory,Australia,0.0,0.0,0.0
4243,03/08/2020,"Lackland, TX (From Diamond Princess)",US,0.0,0.0,0.0
4244,03/08/2020,"Montgomery County, TX",US,0.0,0.0,0.0
4245,03/08/2020,"Omaha, NE (From Diamond Princess)",US,0.0,0.0,0.0
4246,03/08/2020,"Travis, CA (From Diamond Princess)",US,0.0,0.0,0.0